* {
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body {
    margin:0;
    padding:0;
}

html {
    background: rgba(143, 116, 61, 0.176);
    color: #444;
    font: 16px/1.5em 'Libre Baskerville', serif;
    padding: 20px 40px 0 0;
}

body {
    background: white;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.075);
}

h1,h2 {
    font-family: "Libre Baskerville", serif;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    line-height: 1em;
}

ol.bibliography {
    list-style:none;
    margin:0;
    padding:0;
}

#banner,#main {
    padding: 2em 5em;
}

#banner:after {
    display:block;
    content: " ";
    width: 80px;
    height: 5px;
    background:#e90;
}

#banner h1 {
    color: #e90;
}

#banner p {
    font-family:  'Outfit', sans-serif;
    color: #999;
    font-size: 20px;
}

#main h1 {
    margin:0 0 3em;
    color:  #999;
}

.bibliography li {
    margin:0 0 1em 2em;
    text-indent: -2em;
    word-wrap: break-word;
}

@media screen and (min-width: 770px) {

    body {
        flex-direction: row;
    }
    #banner,#main {
        padding: 3em;
    }
    #main {
        width: 70%;
    }
    #banner {
        width: 30%;
        display:flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        height: 70vh;
        justify-content:space-between;
    }

    #banner h1,
    #banner p {
        margin:0; padding:0;
    }

}